@use 'sass:map';
@use 'variables/variables' as *;
@use 'variables/breakpoints' as *;
@use 'helpers/breakpoint' as *;

@mixin container {
  padding: 0 map.get(map.get($breakpoints, xs), gutter);

  @include breakpoint(s) { padding: 0 map.get(map.get($breakpoints, s), gutter); }
  @include breakpoint(m) { padding: 0 map.get(map.get($breakpoints, m), gutter); }
  @include breakpoint(l) { padding: 0 map.get(map.get($breakpoints, l), gutter); }
}

@mixin header-item {
  padding: 8px 0;

  @include breakpoint(s, l) { padding: 0 8px; }
}

@mixin field-field {
  position: relative;
  margin: $field-field-padding-v $field-padding-h;
  min-height: $field-field-height - $field-field-padding-v * 2;
  user-select: auto;
}
