
$c-white: #f4f8fb;
$c-black: #000000;
$c-red: #ff6b57;
$c-blue: #159aed;

$c-surface: #0d1b2a;

$c-primary: $c-blue;
$c-interactive: $c-blue;

$c-background: #07111a;
$c-background-shaded: #13283a;

$c-line: #21445b;
$c-line-error: $c-red;

$c-text: #d9e6f2;
$c-text-detail: #91a7bb;
$c-text-primary: #5ebeff;
$c-text-error: $c-red;

$c-footer-text: #7f99ad;

$c-field-control-background: #12283a;
$c-field-label: $c-text-detail;

$c-pipe: $c-primary;
$c-pipe-background: #091722;

$c-viewer: $c-primary;
$c-encoder: #ffb454;
