
$c-white: #f4f1ff;
$c-black: #000000;
$c-red: #ff7087;
$c-blue: #a78bfa;

$c-surface: #171522;

$c-primary: $c-blue;
$c-interactive: $c-blue;

$c-background: #0c0b12;
$c-background-shaded: #1b1928;

$c-line: #332e46;
$c-line-error: $c-red;

$c-text: #ebe8f5;
$c-text-detail: #aaa3bd;
$c-text-primary: #c4b5fd;
$c-text-error: $c-red;

$c-footer-text: #958fa8;

$c-field-control-background: #211e30;
$c-field-label: $c-text-detail;

$c-pipe: $c-primary;
$c-pipe-background: #100f18;

$c-viewer: $c-primary;
$c-encoder: #f2b880;
